.phpDiv {
    width: 30%;
    float: left;
    padding-left: 30px;
    line-height: 4.25rem;
    font-size: 1.7rem;
    color:red;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.5px;
}


.php_p {
    display: block;
    margin: 10px;
}

.menuRow {
border: 2px solid red;
width: 50%;
margin: 20px auto;
padding: 15px;
text-align: left;
}


#listWrapper > ul {
    padding: 1rem;
    list-style-type: none;
}

div.listDiv {
    text-align: left;
    display: inline-block;
    margin: 1.2rem 0.3rem 0.6rem 6rem;
    letter-spacing: 0.4rem;
    font-size: 1.4rem;
    vertical-align: top;
    color: white;
}

li.listHead {
    list-style: none;
    font-weight: bold;
    border-bottom: 1.2px solid gray;
}

#dayList {
    border-right: 2px solid rgb(247, 156, 223);
    list-style-type: none;
    padding-right: 30px;
}

ul.listEdit {
    list-style-type: none;
    margin-bottom: 10px;
    line-height: 2rem;
}

#listWrapper {
    background-color: rgb(68, 68, 68);
}