/* Default layout styling for Aaron's Diner */

* {
    margin: 0;
    padding: 0;
    font-family: 'krona one', sans-serif;
}

html {
    font-size: 16px;
}

body {
    background-color: rgb(30, 29, 29);
    text-align: center;
    color: white;
}

header {
    background: rgb(33, 32, 32);
    width: 100%;
    height: 4.25rem;
    position: fixed;
}


.logo {
    width: 30%;
    float: left;
    text-align: left;
    line-height: 4.25rem;
}

.logo a {
    text-decoration: none;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    letter-spacing: 0.3rem;
}

nav {
    float: right;
    line-height: 4.25rem;
}

nav a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.25rem;
    font-size: 1.2rem;
    color: white;
    padding: 1.4rem 1rem;
    margin: 0 0.1rem;
    font-weight: 700;
}

nav a:hover {
    background: rgb(30, 29, 29);
    color: rgb(247, 156, 223);
}


.bannerArea {
    background-image: url(../IMG/360_F_581529147_WU2dd2WR6CMKN81hX7jy8QB9vqJQGqOa.jpg);
    background-size: cover;
    background-position: center center;
    top: 6.25rem;
    height: 30%;
    width: 100%;
    position: fixed;
}

.bannerArea::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background:rgb(21, 20, 20);
    opacity: 0.6;
    z-index: -1;
    border: 1.5px solid black;
}

.bannerArea h2 {
    padding-top: 2%;
    font-size: 6.25rem;
    color:white;
    -webkit-text-fill-color: rgb(184, 12, 12);
    -webkit-text-stroke: 0.5px;
}

.contentArea {
    width: 100%;
    position: relative;
    background: rgb(30, 29, 29);
    top: 24rem;
}

.contentArea h2 {
    font-size: 1.8rem;
    margin: 0;
    margin-top: 1.8rem;
    letter-spacing: 0.4rem;
}

.phpDiv {
    width: 30%;
    float: left;
    padding-left: 30px;
    line-height: 4.25rem;
    font-size: 1.7rem;
    color:red;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.5px;
}


.php_p {
    display: block;
    margin: 10px;
}

.menuRow {
    border: 2px solid rgba(105, 103, 103, 0.4);
    width: 50%;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    font-size: 1.4rem;
    background-color:  rgb(36, 34, 34);
}

.menuItem {
    width: 30%;
    height: auto;
    display: block;
    margin-top: 10px;
    margin-left: 325px;
    padding: 1rem;
    box-shadow: 0 0 10px 5px rgba(255, 89, 89, 0.3);
    background-color: rgb(63, 42, 42);
}





/* Footer list styling */
#listWrapper > ul {
    padding: 1rem;
    list-style-type: none;
}

div.listDiv {
    text-align: left;
    display: inline-block;
    margin: 1.2rem 0.3rem 0.6rem 6rem;
    letter-spacing: 0.4rem;
    font-size: 1.4rem;
    vertical-align: top;
    color: white;
}

#pNum {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 2px solid rgb(247, 156, 223);
}

li.listHead {
    list-style: none;
    font-weight: bold;
    border-bottom: 1.2px solid gray;
}

#dayList {
    border-right: 2px solid rgb(247, 156, 223);
    border-left: 2px solid rgb(247, 156, 223);
    list-style-type: none;
    padding-right: 30px;
    padding-left: 30px;
}

ul.listEdit {
    list-style-type: none;
    margin-bottom: 10px;
    line-height: 2rem;
}

#listWrapper {
    background-color: rgb(68, 68, 68);
}

#dateSpecials {
    padding-bottom: 18px;
    margin-top: 60px;
    font-size: 1.7rem;
    border-bottom: 2px solid rgb(247, 156, 223);
}

#specialMenuDisplay {
    padding-top: 8px;
    margin-left: 17px;
    color: rgb(225, 205, 205);
}

/* form styles */
#loginForm {
    display: flex;
    justify-content: center;
}

#login_fname {
    box-sizing: border-box;
    width: 100px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 3px;
}

#login_passwd {
    box-sizing: border-box;
    width: 100px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 3px;
}

.loginLabel {
    margin: 3px;
    font-size: 1.3rem;
    color: rgb(219, 219, 219);
}

.loginSubmit {
    margin-left: 10px;
    width: 50px;
    height: 30px;
}
