.wrapper {
    width: 90%;
    margin: 0 auto;
}


section#imgSec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.imgContainer a {
    display: block;
    text-align: center; 
    margin: 0; 
}


img.menu{
    margin: 1.2rem;
    margin-top: 0.9rem;
    padding: 1rem;
    max-width: 100%;
    width: 66%;
    height: auto;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}


.textWrapper {
    position: relative;
    text-align: center;
}

.menuA {
    display: flex;
}

.textWrapper p {
    position: absolute;
    color: black;
    font-size: 3.3rem;
    padding: 0.3rem;
    top: 50px;
    left: 160px;
    font-weight: 900;
    margin-right: 1.48rem;
    background: white;
    border-radius: 0.2rem;
    border: 2px solid green;
}
#dinner {
    left: 30px;
}


#lunch {
    left: 35px;
}

.menuList {
    position: absolute;
    color: black;
    font-size: 1.5rem;
    padding: 0.3rem;
    top: 160px;
    left: 155px;
    margin: 8px;
    margin-right: 1.48rem;
    background: white;
    border-radius: 0.2rem;
    list-style-type: none;
    border: 2px solid purple;
    width: 33%;
}

.menuList > li {
    border: 2px solid black;
    padding: 5px;
}

/* Footer List */

.phpDiv {
    width: 30%;
    float: left;
    padding-top: 40px;
    padding-left: 30px;
    line-height: 4.25rem;
    font-size: 2rem;
    color:red;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.5px;
}

#listWrapper > ul {
    padding: 1rem;
    list-style-type: none;
}

div.listDiv {
    text-align: left;
    display: inline-block;
    margin: 1.2rem 0.3rem 0.6rem 6rem;
    letter-spacing: 0.4rem;
    font-size: 1.4rem;
    vertical-align: top;
    color: white;
}

li.listHead {
    list-style: none;
    font-weight: bold;
    border-bottom: 1.2px solid gray;
}

ul#dayList {
    border-right: 2px solid rgb(247, 156, 223);
    list-style-type: none;
    padding-right: 30px;
}

ul.listEdit {
    list-style-type: none;
    margin-bottom: 10px;
    line-height: 2rem;
}

#listWrapper {
    background-color: rgb(68, 68, 68);
}