.wrapper {
    width: 90%;
    margin: 0 auto;
}

header {
    background: rgb(33, 32, 32);
    width: 100%;
    height: 4.25rem;
    position: fixed;
}

.phpDiv {
    width: 30%;
    float: left;
    padding-left: 50px;
    line-height: 4.25rem;
    font-size: 1.7rem;
    color:red;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.5px;
}

.logo {
    width: 30%;
    float: left;
    text-align: left;
    line-height: 4.25rem;
}

.logo a {
    text-decoration: none;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    letter-spacing: 0.3rem;
}

nav {
    float: right;
    line-height: 4.25rem;
}

nav a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.25rem;
    font-size: 1.2rem;
    color: white;
    padding: 1.4rem 1rem;
    margin: 0 0.1rem;
    font-weight: 700;
}

nav a:hover {
    background: rgb(30, 29, 29);
    color: rgb(247, 156, 223);
}

section#imgSec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
   display: flex;
   justify-content: center;
   position: relative;
   width: 40%;
   height: auto;
}

img.menu{
    margin: 1.2rem;
    margin-top: 0.9rem;
    padding: 1rem;
    max-width: 100%;
    width: 66%;
    height: auto;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}

.bannerArea {
    background-image: url(/Imgs/PolaskeConsultingBanner.png);
    background-size: cover;
    background-position: center center;
    top: 6.25rem;
    height: 30%;
    width: 100%;
    position: fixed;
}

.textWrapper {
    position: relative;
}

.textWrapper p {
    position: absolute;
    color: black;
    font-size: 3.3rem;
    padding: 0.3rem;
    top: 20%;
    left: 150px;
    font-weight: 900;
    margin-right: 1.48rem;
    background: white;
    border-radius: 0.2rem;
}
#dinner {
    left: 30px;
}

#lunch {
    left: 35px;
}

.menuList {
    position: absolute;
    color: black;
    font-size: 2.3rem;
    padding: 0.3rem;
    top: 46%;
    left: 170px;
    font-weight: 900;
    margin-right: 1.48rem;
    background: white;
    border-radius: 0.2rem;
    list-style-type: none;
}

.bannerArea {
    background-image: url(/IMG/360_F_581529147_WU2dd2WR6CMKN81hX7jy8QB9vqJQGqOa.jpg);
    background-size: cover;
    background-position: center center;
    top: 6.25rem;
    height: 30%;
    width: 100%;
    position: fixed;
}

.bannerArea::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background:rgb(21, 20, 20);
    opacity: 0.6;
    z-index: -1;
    border: 1.5px solid black;
}

.bannerArea h2 {
    padding-top: 2%;
    font-size: 6.25rem;
    color:white;
    -webkit-text-fill-color: rgb(184, 12, 12);
    -webkit-text-stroke: 0.5px;
}

.contentArea {
    width: 100%;
    height: 70rem;
    position: relative;
    background: rgb(30, 29, 29);
    top: 24rem;
}

.contentArea h2 {
    font-size: 1.8rem;
    margin: 0;
    margin-top: 1.8rem;
    letter-spacing: 0.4rem;
}

#listWrapper > ul {
    padding: 1rem;
    list-style-type: none;
}

div.listDiv {
    text-align: left;
    display: inline-block;
    margin: 1.2rem 0.3rem 0.6rem 6rem;
    letter-spacing: 0.4rem;
    font-size: 1.4rem;
    vertical-align: top;
    color: white;
}

li.listHead {
    list-style: none;
    font-size: 1.8;
    font-weight: bold;
    border-bottom: 1.2px solid gray;
}

ul#dayList {
    border-right: 2px solid rgb(247, 156, 223);
    list-style-type: none;
    padding-right: 30px;
}

ul.listEdit {
    list-style-type: none;
    margin-bottom: 10px;
    line-height: 2rem;
}

#listWrapper {
    background-color: rgb(68, 68, 68);
}